/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img {
    vertical-align: middle;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #101010;
}

.section-container {
    padding-top: 66px;
}

.section h2 {
    padding: 40px 0;
    margin: 0;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar .container {
    height: 40px;
    width: 1024px;
    margin: auto;
    padding: 0 0 0 0;
    background-color: #101010;
}

.navbar-default {
    background-color: #101010;
    border-color: #101010;
}

.navbar-default .navbar-brand {
    color: #bbb;
    font-weight: 500;
}

.navbar-default .navbar-nav li a {
    height: 40px;
    line-height: 25px;
    color: #bbb;
    font-weight: 500;
}

.navbar-default .navbar-nav li a:hover {
    color: #ddd;
}

.navbar li.active a {
    color: #ffffff !important;
    background-color: #101010 !important;
}


/* Missions CONTENT
-------------------------------------------------- */

#missions .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}

#missions h2 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

#missions .col-md-4 p {
    margin-right: 10px;
    margin-left: 10px;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 50px 0 50px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}


.redaction-header {
    margin-top: 50px;
    background-image: url("../img/redaction/bandeau_redaction.jpg");
    height: 400px;
    color: #ffffff;
    text-align: center;
    font-family: 'Arvo', serif;
}

.redaction-header h1 {
    font-weight: bold;
}

.redaction-header h2 {
    color: #ffffff;
}

.colloques-header {
    margin-top: 50px;
    background-image: url("../img/colloques/bandeau_colloques.jpg");
    height: 400px;
    color: #ffffff;
    text-align: center;
    font-family: 'Arvo', serif;
}

.colloques-header h1 {
    font-weight: bold;
}

.colloques-header h2 {
    color: #ffffff;
}

.projets-header {
    margin-top: 50px;
    background-image: url("../img/projets/bandeau_projets.jpg");
    height: 400px;
    color: #ffffff;
    text-align: center;
    font-family: 'Arvo', serif;
}

.projets-header h1 {
    font-weight: bold;
}

.projets-header h2 {
    color: #ffffff;
}

.experience {
    margin: 5px 0 25px 0;
}

.caption {
    margin-top: 10px;
}

.signature {
    margin-top: 25px;
    font-size: 1.5em;
}

#contact a {
    color: #891812;
}

#contact .fa-border:hover {
    border-color: #bbb;
}

#contact a:hover {
    color: #cc231b;
}


#whoami h2 {
    font-family: 'Roboto', sans-serif;
}

#whoami span  {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

